// Brand
$brand-bs: #D61518;
$brand-lt: #FFE5DF;

// Text
$text-bs: #333;
$text-lt: #AEAEAE;
$text-alt: #AC7F78;

// Background
$bg-bs: #FCF8F7;
$bg-pt: #FAFAFA;

// Border
$bd-bs: #BDBDBD;
$bd-lt: #CCCCCC;
$bd-dk: #666666;

// Various
$orange: #EB9C23;
$yellow: #FFF772;
$green: #4CC764;
$blue: #2375F1;
$lt-blue: #E2EBF7;
$white: #ffffff;
$black: #000000;

// screensize
$xxlarge:1400px;
$xlarge: 1200px;
$large: 1024px;
$medium: 768px;
$small: 576px;

$spacing-unit: 4;
